---
interface Box {
  id: string;
  title: string;
  description: string;
  href: string;
  hrefTitle: string;
}

const data: Box[] = [
  {
    id: "info-spillere",
    title: "Spiller du for meget?",
    description: "Lær at genkende de typiske tegn på ludomani",
    href: "https://www.spillemyndigheden.dk/spiller",
    hrefTitle: "Information til spillere",
  },
  {
    id: "info-paaroerende",
    title: "Kender du en spiller, som du er bekymret for?",
    description: "Du kan støtte din pårørende på forskellige måder",
    href: "https://www.spillemyndigheden.dk/paaroerende",
    hrefTitle: "Information til pårørende",
  },
  {
    id: "info-fagpersoner",
    title: "Arbejder du med en borger, der har et spilproblem?",
    description: "Få gode råd til, hvordan du kan hjælpe",
    href: "https://www.spillemyndigheden.dk/fagperson",
    hrefTitle: "Information til fagpersoner",
  },
];
---

<section class="container mx-auto grid lg:grid-cols-3 gap-10 my-10">
  {
    data.map(({ id, title, description, href, hrefTitle }) => (
      <a
        id={id}
        href={href}
        target="_blank"
        class="flex flex-col bg-primary text-white text-center p-5 gap-y-3"
      >
        <h2 class="text-2xl uppercase font-bold leading-none">{title}</h2>
        <p class="flex-1">{description}</p>
        <div class="border border-white rounded py-1.5 px-2 hover:bg-light hover:border-light hover:text-primary transition-all mt-5">
          {hrefTitle}
        </div>
      </a>
    ))
  }
</section>
